{% if dados_organizados %}
<section id="abordagem" class="resume vh-100 overflow-auto">
    <div class="container">
        {% for abordagem_titulo, indices in dados_organizados.items %}
        <div class="section-title">
            <h2>{{ abordagem_titulo }}</h2>
            <p>{{ abordagem_textos|safe }}
        </div>
        <div class="row">
            {% if indices|length > 1 %}
            {% for indice_titulo, conteudos in indices.items %}
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title mt-0">{{ indice_titulo }}</h3>
                {% for conteudo in conteudos %}
                <div class="resume-item">
                    <h4>{{ conteudo.sub_titulo }}</h4>
                    <p><em>{{ conteudo.sub_texto|safe }}</em></p>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            {% else %}
            {% for indice_titulo, conteudos in indices.items %}
            <div class="col-md-12" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title mt-0">{{ indice_titulo }}</h3>
                <div class="row">
                    <div class="col-md-6">
                        {% for conteudo in conteudos|slice:":2" %}
                        <div class="resume-item">
                            <h4>{{ conteudo.sub_titulo }}</h4>
                            <p><em>{{ conteudo.sub_texto|safe }}</em></p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        {% for conteudo in conteudos|slice:"2:" %}
                        <div class="resume-item">
                            <h4>{{ conteudo.sub_titulo }}</h4>
                            <p><em>{{ conteudo.sub_texto|safe }}</em></p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}