{% load static %}
<section id="abordagem" class="resume">
    <div class="container">
        {% for d in abordagem %}
        <div class="section-title">
            <h2>{{ d.titulo }}</h2>
            <p>{{ d.texto|safe }}</p>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col" data-aos="fade-up" data-aos-delay="100">
                {% for i in indice %}
                <h3 class="resume-title">{{ i.titulo }}</h3>
                {% for ia in indice_abordagem %}
                {% if ia.indice.titulo == i.titulo %}
                <div class="resume-item">
                    <h4>{{ ia.sub_titulo }}</h4>
                    <p><em>{{ ia.sub_texto|safe }}</em></p>
                </div>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
        </div>
</section>