{% load static %}
<section id="abordagem" class="resume">
    
    <div class="container">
        {% for d in abordagem %}
        <div class="section-title">
            <h2>{{ d.titulo }}</h2>
            <p>{{ d.texto|safe|truncatechars:505 }}</p>
        </div>
        <div class="row">
            {% for i in indice %}
            {% if i.abordagem_id == d.id %}
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">{{ i.titulo }}</h3>
                {% for ia in indice_abordagem %}
                {% if ia.indice.titulo == i.titulo %}
                <div class="resume-item">
                    <h4>{{ ia.sub_titulo }}</h4>
                    <p><em>{{ ia.sub_texto|safe }}</em></p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
        </div>        
        {% endfor %}

</section>