{% extends 'base.html'%}

{% load static templates_tags %}

{% block card %}

<section id="card{{ card.id }}" class="portfolio">
    <div class="container">
        <!-- Exibir informações do card -->
        <div class="section-title">
            <h2>{{ card.titulo }}</h2>
            <div class="d-flex gap-2">
                <img src="{{ card.imagem.url }}" style="width: 200px;height: 180px;">
                <p>{{ card.texto|safe }}</p>
            </div>
            <p>{{ card.grupo.nome }}</p>
        </div>
        <div class="fst-italic text-muted text12 text-end">Criado em {{ card.data }}<br>
            {% if card.publicado and card.data_publicado %}
            Publicado em {{ card.publicado }}
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}