{% load static %}
<section id="topicos" class="services">
    <div class="container">

        {% if topico %}
        <div class="section-title">
            <h2>{{ topico.0 }}</h2>
            <p>{{ topico.1|safe }}</p>
        </div>
        {% endif %}

        <div class="row">
            {% for st in subtopicos %}
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <a href="{% url 'dados:get_sub_topicos' st.id %}" class="scrollto" title="{{ st.sub_titulo }}">
                    <div class="icon"><i class="bi {{ st.icone }}"></i></div>
                    <div id="id_subtopicos">
                        <h4 class="title">{{ st.sub_titulo|slice:":50" }}</h4>
                        {{ st.sub_texto|safe|truncatechars:105 }}
                    </div>
                </a>
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>

    </div>
</section>