<!DOCTYPE html>
<html lang="pt-br">
    {% load static templates_tags %}

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Cássia Martins</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="{% static 'assets/img/favicon.png' %}" rel="icon">

        <!-- Google Fonts -->
        <link rel="stylesheet" href="{% static 'assets/fonts/fonts.css' %}">

        <!-- Vendor CSS Files -->
        <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

        <!-- CSS -->
        <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

        <!-- ======= Header ======= -->
        {% show_header %}

        <!-- ======= Main ======= -->
        <main id="main">
            {% show_apresentacao %}

            {% show_abordagem %}

            {% show_experiencia %}

            {% show_topicos %}

            <section id="contato" class="contact mb-md-5 pb-3 pb-md-5">
                <div class="container">
                    <div class="section-title p-0">
                        <h2>Contato</h2>
                    </div>
                    <div class="row" data-aos="fade-in">
                        <div class="col-lg-5 d-flex align-items-stretch">
                            <div class="info d-flex flex-column justify-content-between gap-4">
                                <div class="address">
                                    <i class="bi bi-geo-alt"></i>
                                    <h4>Localização:</h4>
                                    <p>{{ endereco }}</p>
                                </div>

                                <div class="email">
                                    <i class="bi bi-envelope"></i>
                                    <h4>Email:</h4>
                                    <p>{{ email }}</p>
                                </div>

                                <div class="phone">
                                    <i class="bi bi-phone"></i>
                                    <h4>Telefone:</h4>
                                    <p>{{ telefone }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-7 mt-3 mt-lg-0 d-flex align-items-stretch">
                            <!-- <form action="forms/contact.php" method="post" role="form" class="php-email-form"> -->
                            <form id="contatoForm" method="post" role="form" class="php-email-form">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="name">Nome</label>
                                        <input type="text" name="name" class="form-control" id="name" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" name="email" id="email" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="subject">Assunto</label>
                                    <input type="text" class="form-control" name="subject" id="subject" required>
                                </div>
                                <div class="form-group">
                                    <label for="message">Mensagem</label>
                                    <textarea class="form-control" name="message" rows="10" required></textarea>
                                </div>
                                <div class="my-3">
                                    <div class="loading" style="display: none;">Enviando...</div>
                                    <div class="error-message">SEM ERROS</div>
                                    <div class="sent-message" style="display: none; color: green;">Sua mensagem foi enviada com sucesso!</div>
                                </div>
                                <div class="text-center"><button type="submit">Enviar</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

        </main>

        <!-- ======= Footer ======= -->
        {% show_footer %}

        <!-- Vendor JS Files -->


        <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
        <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
        <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
        <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
        <script src="{% static 'assets/vendor/typed.js/typed.umd.js' %}"></script>
        <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
        <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

        <!-- Template Main JS File -->
        <script src="{% static 'assets/js/main.js' %}"></script>

        <script>
            document.getElementById("contatoForm").addEventListener("submit", function(event) {
                event.preventDefault();
            
                const formData = new FormData(this);
                document.querySelector('.loading').style.display = 'block';
            
                fetch("{% url 'dados:enviar_email_contato' %}", {
                    method: "POST",
                    body: formData,
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    document.querySelector('.loading').style.display = 'none';
                    if (data.message) {
                        document.querySelector('.sent-message').style.display = 'block';
                        document.querySelector('.error-message').style.display = 'none';
                        document.getElementById("contatoForm").reset();
                    } else {
                        document.querySelector('.error-message').innerHTML = data.error || 'Erro ao enviar a mensagem.';
                        document.querySelector('.error-message').style.display = 'block';
                        document.querySelector('.sent-message').style.display = 'none';
                    }
                })
                .catch(error => {
                    document.querySelector('.loading').style.display = 'none';
                    document.querySelector('.error-message').innerHTML = 'Erro ao enviar a mensagem.';
                    document.querySelector('.error-message').style.display = 'block';
                    document.querySelector('.sent-message').style.display = 'none';
                });
            });
        </script>

        {% block script %}
        {% endblock %}

    </body>

</html>